{% extends "base-accounts.html" %}
{% load static %}
{% load i18n %}
{% block body_accounts %}
<form action="" method="POST">
    {% csrf_token %}
    {% trans "label_text" as Label_Text %}
	{% trans "Signup" as btn_text %}
	{% trans "Already have an account?" as nopass_text %}
    {% include "common/accounts-form.html" %}
    {% include "common/accounts-checkbox.html" with label_name=terms label_text=Label_Text button=btn_text %}
    <!-- {% include "common/accounts-sns.html" %} -->
    {% trans "Login" as link_text %}
    {% include "common/accounts-p.html" with name=link_text href="../login" text=nopass_text %}
</form>
{% endblock %}
