<title>メンヘラ占い</title>
{% extends 'layout.html' %}
{% block content %}
    <section class="container">
        <center>
        <div class="content">
            <div class="space-10"></div>
            <center>
            future
            <br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            future
        </div>
        </center>
    </div>
    </center>
</section>
{% endblock %}