<title>メンヘラグッズ販売</title>
{% extends 'layout.html' %}
{% block content %}
    <section class="container">
        <center>
        <div class="content">
            <div class="space-10"></div>
            <center>
            goods
            <br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            /<br>
            goods
            </center>
        </div>
        </center>
    </section>
{% endblock %}