{% load static %}
    <div class="side_box">
        <center>
        <span class="side_text"><b>メンヘラ総選挙</b></span>
        </center>
        <center>
        <div class="rank_box_1">
            <span class="side_text">1位abcdef</span>
        </div>
        </center>
        <center>
        <div class="rank_box_2">
            <span class="side_text">2位abcdef</span>
        </div>
        </center>
        <center>
        <div class="rank_box_3">
            <span class="side_text">3位abcdef</span>
        </div>
        </center>
        <center>
        <div class="rank_box">
            <span class="side_text">4位abcdef</span>
        </div>
        </center>
        <center>
        <div class="rank_box">
            <span class="side_text">5位abcdef</span>
        </div>
        </center>
    </div>