{% load static %}
{% load i18n %}
<div class="logs">
    <div class="logs-head col-12">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
                <h4 class="logs-heading">{% trans "Change Password" %}</h4>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <button onclick="off()" type="button" class="btn btn-dark" ><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    <br>
    <div class="row table-wrapper-scroll-y my-custom-scrollbar">
        <center>
        <form id="change_password" onsubmit="update_password();return false;">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <table>
<!--                 <col style="width: 30%;" />
                <col style="width: 20%;" />
                <col style="width: 50%;" /> -->
                {% for field in form %}
                    <tr>
                        <th><label for="{{ field.id_for_label }}" style=" margin: 5px 20px;">{{ field.label_tag }}</label></th>
                        <th style="color: black;">{{ field }}</th>
                        <th>
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </th>
                    </tr>
                {% endfor %}
            </table>
            
            <!-- {{ form }} -->
            <br>
            <button type="submit" style=" margin-top: 10px;"class="btn btn-primary">{% trans "Save changes" %}</button>
            <br>
            <h5 style="text-align: center;color: white;">{{message}}</h5>
        </form>
        </center>
    </div>
    <br>
</div>