{% load i18n %}
<h4 style="margin-top: 50px;"> {% trans "Ongoing Requests" %}</h4>
<table class="table" id="request_table">
    <col style="width: 20%;" />
    <col style="width: 25%;" />
    <col style="width: 35%;" />
    <col style="width: 20%;" />
    <thead class="thead-dark">
        <tr>
            <th style="border-bottom: 0px;" scope="col">{% trans "Task" %}ID</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Received Time" %}</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Status" %}</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <br>
    <tbody class="table-body">
        {% for request in requests %}
            {% if request.running_status != 4 %}
                <tr class = "request_type{{request.running_status}}">
                    <th>{{request.task_id}}</th>
                    <td>{{request.time_received}}</td>
                    <td>{% trans request.last_status %}</td>
                    {% if request.running_status == 1 or request.running_status == 2 %}
                        <td><button type="button" onClick="cancel_request({{request.task_id}})" class="cancel_button" data-toggle="tooltip" data-placement="top" style="font-size: 12px;">{% trans "Cancel" %}</button></td>
                    {% else  %}
                        <td><button type="button" class="disable_button" data-toggle="tooltip" data-placement="top" style="font-size: 12px;" disabled>{% trans "Cancel" %}</button></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<h4 style="margin-top: 100px;"> {% trans "Completed Requests" %}</h4>
<table class="table" id="request_table">
    <col style="width: 20%;" />
    <col style="width: 25%;" />
    <col style="width: 35%;" />
    <col style="width: 20%;" />
    <thead class="thead-dark">
        <tr>
            <th style="border-bottom: 0px;" scope="col">{% trans "Task" %}ID</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Ending Time" %}</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Status" %}</th>
            <th style="border-bottom: 0px;" scope="col">{% trans "Action" %}</th>
        </tr>
    </thead>
    <br>
    <tbody class="table-body">
        {% for request in requests %}
            {% if request.running_status == 4 %}
                <tr class = "request_type{{request.running_status}}">
                    <th>{{request.task_id}}</th>
                    <td>{{request.time_end}}</td>
                    <td>{% trans request.last_status %}</td>
                    {% if request.was_downloaded %}
                        <td><button type="button" class="disable_button" data-toggle="tooltip" data-placement="top" style="font-size: 12px;" disabled>{% trans "Download" %}</button></td>
                    {% else %}
                        <td><button type="button" onClick="download_file({{request.task_id}})" class="download_button" data-toggle="tooltip" data-placement="top" style="font-size: 12px;">{% trans "Download" %}</button></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<!-- <style type="text/css">
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 0px solid #dddddd;
            border-bottom: 1px solid #dddddd;
        }
</style> -->